@page
@model SileoEsercizio.Pages.Index1Model
@{
}
<html>
<body>
    <h1>Risposta</h1>
    <p>Vai alla pagina di <a href="Index"> creazione </a></p>
    <p>il testo scritto dall'utente è <b> Response.Write(Model.nome) </b></p>
</body>
</html>  
